* {
    margin: 0;
}

section {
    >h1 {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
        font-size: 2.5rem;
        color: rgb(166, 2, 2);
        font-family: 'Economica';
        font-weight: 700;
    }

    >div {
        display: flex;
        align-items: center;
        justify-content: center;

        >img {
            height: 1.5rem;
            margin: 0.5rem;
        }

        >h3 {
            font-family: 'Raleway';
            font-weight: 400;
        }
    }
}