<section>
    <h1 class="fontEconomica700">OUR MENU</h1>

    <div>
        <img src="./../../assets/img/r1.png" alt="">
        <tbody>
            <h2 class="fontEconomica700">Tonsuka Ramen</h2>
            <tr>
                <td>CHICKEN</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>12,95€</td>
            </tr>
        </tbody>
    </div>

    <div class="reverse-element">
        <img src="./../../assets/img/r2.png" alt="">
        <tbody>
            <h2 class="fontEconomica700">Spicy Miso Ramen</h2>
            <tr>
                <td>CHICKEN</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>12,95€</td>
            </tr>
        </tbody>
    </div>

    <div>
        <img src="./../../assets/img/r3.png" alt="">
        <tbody>
            <h2 class="fontEconomica700">Shio Ramen</h2>
            <tr>
                <td>CHICKEN</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>BEEF</td>
                <td>12,95€</td>
            </tr>
            <tr>
                <td>SHRIMP</td>
                <td>12,95€</td>
            </tr>
        </tbody>
    </div>

</section>