<section>
    <h1 class="fontRaleway800">HOW TO ORDER</h1>
    <div>
        <div class="item-direction">
            <img src="./../../assets/img/bowl_icon.jpg" alt="">
            <p class="fontEconomica700">Pick <br> Your Noodels</p>
        </div>
        <div class="item-direction">
            <img src="./../../assets/img/broth_icon.png" alt="">
            <p class="fontEconomica700">Pick <br> Your Brath</p>
        </div>
        <div class="item-direction">
            <img src="./../../assets/img/eggs_icon.jpg" alt="">
            <p class="fontEconomica700">Add Your <br> Toppings</p>
        </div>
    </div>
</section>